@import "~/.config/rofi/colors/mocha.rasi"

* {
    background: @base;
    background-color: @base;
    foreground: @text;
    border-color: transparent;

    selected-background: @surface1;
    selected-foreground: @text;
    normal-background: @base;
    normal-foreground: @text;
    alternate-background: @mantle;
    alternate-foreground: @text;
    spacing: 2px;
    border: 0px;
}

window {
    transparency: "real";
    location: center;
    anchor: center;
    width: 35%;
    border: 0px;
    border-radius: 8px;
    padding: 15px;
    background-color: @base;
}

mainbox {
    border: 0;
    padding: 0px;
    background-color: transparent;
}

inputbar {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    background-color: @mantle;
    text-color: @text;
    border-radius: 4px;
    children: [ prompt, entry ];
}

prompt {
    background-color: transparent;
    text-color: @text;
    padding: 0px 8px 0px 0px;
}

entry {
    background-color: transparent;
    text-color: @text;
    placeholder-color: @overlay1;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

listview {
    padding: 0px;
    columns: 1;
    lines: 8;
    background-color: transparent;
    fixed-height: false;
    scrollbar: false;
}

element {
    padding: 10px 12px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    text-color: @text;
    orientation: horizontal;
}

element normal.normal {
    background-color: transparent;
    text-color: @text;
}

element alternate.normal {
    background-color: transparent;
    text-color: @text;
}

element selected.normal {
    background-color: @surface1;
    text-color: @text;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    vertical-align: 0.5;
}

element-icon {
    background-color: transparent;
    size: 20px;
    margin: 0px 8px 0px 0px;
}

textbox {
    text-color: @text;
    background-color: transparent;
}

message {
    padding: 8px;
    background-color: @mantle;
    text-color: @text;
    border-radius: 4px;
}
